/* complementary color to boostrap primary (blue) = rgba(229, 99, 51, 0.705) */

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
  background-image: url("./mountains.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.center {
  width: 100vw;
  text-align: center;
}

.navbar {
  text-align: left;
}

/* index.html banner */

#video-container {
  height: 35vh;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  margin-top: -10px;
  /* border: 1px solid #33b5e5; */
  /* background: rgba(229, 99, 51, 0.705); */
}

@media (min-width: 575px) {
  #home-title-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 575px) {
  #home-title-container {
    padding: 20px;
  }
}

@media (max-width: 412px) {
  #video-container {
    height: 45vh;
  }
  .home-title {
    font-size: 15px;
  }
  .home-p {
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  .home-title {
    font-size: 20px;
  }
  .home-p {
    font-size: 10px;
  }
}

.fg-video-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: -2;
  opacity: 0.15;
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.arrow {
  font-size: 2rem;
  color: #33b5e5;
}

/* cards: grid-container */
#projects {
  display: grid;
  width: 100%;
  grid-gap: 20px;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 20px;
}

@media (max-width: 4000px) {
  #projects {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 2500px) {
  #projects {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1350px) {
  #projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 830px) {
  #projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 525px) {
  #projects {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-item {
  align-self: center;
}

/* cards */

.card {
  text-align: center;
  width: 250px;
  height: 450px;
  margin: auto; /* center card within grid item */
  border-radius: 0;
}

.card-img-top {
  border-radius: 0;
}

.card:hover {
  transform: scale(1.01);
  transition: transform 0.2s ease-in 0.2s;
}
.card-text {
  height: 80px;
}

/* pseudo elements are the glassy overlay on hover */
.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(51, 182, 229, 0.096);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

.card-btn {
  padding: 10px;
  width: 80px;
}

/* footer */

.social-link:hover {
  color: black;
}

/* CV PAGE */

#cv-page-body,
#contact-page-body {
  min-height: 80vh;
}

#cv-page-body {
  padding-bottom: 20px;
}

#cv-title,
#contact-title {
  margin-top: 20px;
}

.certificate-btn {
  width: 300px;
}

#skills-list li {
  list-style-type: none;
}

.fab,
.fas,
.iconify-icon {
  font-size: 20px;
}

#fcc-icon,
#uni-icon {
  font-size: 40px;
}

/*  CONTACT PAGE */

#contact-form {
  margin: 0 10vw 0;
}
