/* complementary color to boostrap primary (blue) = rgba(229, 99, 51, 0.705) */

html {
  scroll-behavior: smooth;
}

body {
  text-align: center;
}

/* grid-container */
#projects {
  display: grid;
  width: 100%;
  grid-gap: 20px;
  grid-template-columns: repeat(8, 1fr);
}

@media (max-width: 4000px) {
  #projects {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media (max-width: 2500px) {
  #projects {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (max-width: 1350px) {
  #projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 830px) {
  #projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 525px) {
  #projects {
    grid-template-columns: repeat(1, 1fr);
  }
}

.grid-item {
  align-self: center;
}

/* CARDS */

.card {
  text-align: center;
  width: 250px;
  height: 450px;
  margin: auto; /* center card within grid item */
  border-radius: 0;
}

.card-img-top {
  border-radius: 0;
}

.card:hover {
  transform: scale(1.01);
  transition: transform 0.2s ease-in 0.2s;
}
.card-text {
  height: 80px;
}

/* pseudo elements are the glassy overlay on hover */
.card::before,
.card::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale3d(0, 0, 1);
  transition: transform 0.3s ease-out 0s;
  background: rgba(141, 152, 172, 0.192);
  content: "";
  pointer-events: none;
}
.card::before {
  transform-origin: left top;
}
.card::after {
  transform-origin: right bottom;
}
.card:hover::before,
.card:hover::after,
.card:focus::before,
.card:focus::after {
  transform: scale3d(1, 1, 1);
}

.card-btn {
  padding: 10px;
  width: 80px;
}

#video-container {
  height: 35vh;
  width: 100%;
  position: relative;
  margin-bottom: 20px;
  /* border: 1px solid #33b5e5; */
  /* background: rgba(229, 99, 51, 0.705); */
}

@media (min-width: 575px) {
  #home-title-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 375px) {
  #video-container {
    height: 45vh;
  }
}

.fg-video-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  z-index: -2;
  opacity: 0.15;
  overflow: hidden;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* https://coding-video.s3.eu-west-2.amazonaws.com/codevideo.mov */

/* 
ns-1247.awsdns-27.org. 
ns-2042.awsdns-63.co.uk. 
ns-663.awsdns-18.net. 
ns-177.awsdns-22.com.
NS
TTL: 172800
 */

/* 
 A IPV4
 dkvbquwifb055.cloudfront.net.
  */

/* 
  SOA
  
  ns-1247.awsdns-27.org. awsdns-hostmaster.amazon.com. 1 7200 900 1209600 86400
  */
